<!DOCTYPE html>
<html>
<head>
<style>
<link rel="stylesheet" type="text/css" href="styles.css" />
body {
    background-color: brown;
}

h1, h2, {
    text-align: center;
    color: black;
  font-family: verdana;
  font-size: 300%;
}
h3 {
 colour: black;
    font-family: verdana;
    font-size: 200%;
}
.standard 1 {
    color: black;
    font-family: courier;
    font-size: 160%;
}
.standard 2 {
    color: black;
  font-family: courier;
  font-size: 160%;
}
.standard 3 {
    color: black;
  font-family: courier;
  font-size: 160%;
}
figure {
    float: centre;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
}
</style>
</head>
</html>
